--clr-primary-1: #D9C5A3;
--clr-primary-2: hsl(360, 77%, 27%);
--clr-primary-3: hsl(360, 72%, 37%);
--clr-primary-4: /* hsl(360, 63%, 48%)*/ rgb(217,61,4);
--clr-primary-5: /*hsl(360, 78%, 60%);*/ #EDE1D4;
--clr-primary-6: hsl(360, 89%, 70%);
--clr-primary-7: hsl(360, 90%, 76%);
--clr-primary-8: hsl(360, 90%, 80%);
--clr-primary-9: hsl(360, 90%, 88%);
--clr-primary-10: rgb(239, 233, 215);
--clr-grey-1: hsl(100, 3%, 63%);
--clr-grey-5: rgb(86, 86, 82);
--clr-grey-9: rgb(43, 32, 5);
--clr-white: #fff;
--clr-black: #222;
--ckr-golden: rgb(251, 184, 41);
| 
  
  
   | #C4A484 | #F5E6DA | #B8B1A5 | #EDE1D4 |
  | Primary 01 | Primary 02 | Primary 03 | Primary 04 | Primary 05 |
  -----------------------------------------------------
  | #A6927A | #D4B59E | #9C8F7B | #F7F1E5 | #8F8B6D |
  | Primary 06 | Primary 07 | Primary 08 | Primary 09 | Primary 10 |
  -----------------------------------------------------
  | #A0522D | #6B8E23 | #C0C5C1 | #E9967A | #D2691E |
  | Accent 01 | Accent 02 | Accent 03 | Accent 04 | Accent 05 |
  -----------------------------------------------------
  */
