/*--transition: all 0.3s linear;nav*/
/*Small tablets to big tablets: 768 to 1169px  - For the PHONES up to 479px, the code is in the styles.css there is also a 480 to 767 */
@media only screen and ((min-width: 770px) and (max-width: 1169px)) {
    html,
    body { 
        font-size: 1.2rem;/*100% = 16px, I want 10px = 62.5% for responsive design*/ 
        /*max-width: 469px;*/
    }
    .flags {
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    /* DISTINCTIONS */
    .location__contentrow { 
        grid-template-columns: 1fr; 
        row-gap: 4rem;
    }
            
    .location__img img { 
        max-height: 20vh;
        max-height: calc(var(--vh, 1vh) * 20); 
        width: auto; 
    }

    .location__img iframe { 
        max-height: 300px;
        max-height: calc(var(--vh, 1vh) * 50); 
        max-width: 80vw;
        max-width: calc(var(--vw, 1vw) * 80); 
    }

    .location__txt {
        text-align: left;
        line-height: 25px;
        
      }

    /* SERVICES */
    .services__contentrow {
        column-gap: 2rem;
        padding: 0;
    }

    /* PHOTOS */
    .gallery-container {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
    }

    /* .photos__btnrow { max-width: 75%; }   */
    .photos__btnrow { 
        max-width: 80%;
        margin-left: 10%; 
    }

    .custom-icon-big {
        width: 6rem;
        height: 6rem;
      }

    /* ECO-FRIENDLY */
    .ecofriendly__list--item { font-size: 1.5rem;}

     /* ROOMS */
    .rooms__contentrow { column-gap: 1rem; }    
    .rooms__box--title h3 { font-size: 1.7rem; }    
    .rooms__box--feature { font-size: 1.3rem; }
            
    /* SPECIAL OFFERS */
    .offers__contentrow {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    }
}    

/*STYLING foR TABLETS*/
@media only screen and ((min-width: 470px) and (max-width: 769px)) {
    html,
    body { 
        font-size: 1.2rem; /*100% = 16px, I want 10px = 62.5% for responsive design*/ 
    }
    
    .show-mobile { display: block; } 
    .hide-mobile { display: none; } 

    
    /* SPECIALS */
    .specials__contentrow { 
        grid-template-columns: 1fr; 
        row-gap: 6rem;
    }
    
    .specials__list { 
        grid-template-columns: 1fr; 
        row-gap: 6rem;
    }
        
    .specials__img img { 
        max-height: 15vh;
        max-height: calc(var(--vh, 1vh) * 15); 
        width: auto; 
    }

    /* SERVICES */
    .services__contentrow { grid-template-columns: 1fr; }    

    /* PHOTOS */
    .gallery-container {
        height: 70vh;
        height: calc(var(--vh, 1vh) * 70);
        flex-direction: column;
    }

    /* .photos__btnrow { max-width: 90%; } */
    .photos__btnrow { 
        max-width: 100%;
        margin-left: 0%; 
    }

    .custom-icon-big {
        width: 5rem;
        height: 5rem;
      }
    
    /* ECO-FRIENDLY */
    .ecofriendly__contentrow {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    
    .ecofriendly__img img { 
        max-height: 60vh;
        max-height: calc(var(--vh, 1vh) * 60); 
        width: auto; 
    }

    .ecofriendly__list { row-gap: 3rem; }    

    /* ROOMS */
    .rooms__contentrow {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .rooms__box--title {
        grid-template-rows: 1fr;
        row-gap: 2rem;
    }

    .rooms__box--title h3 { font-size: 3rem; }    

    /* REVIEWS */
    .reviews__contentrow {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    
    .reviews__box blockquote {
        display: grid;
        font-style: italic;
        line-height: 2rem;
    }
    
    .reviews__box p { font-size: 2rem; }

    .reviews__box a { font-size: 2rem; }

    .reviews__box cite {
        grid-template-columns: 1fr auto; 
        margin-top: 0;
    }
    .reviews__icon { justify-self: right; }   

    /* SPECIAL OFFERS */
    .offers__contentrow {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .offers__box {
        row-gap: 2rem;
        margin-left: 5%;
        max-width: 90%;
    }

    .offers__box--title h3{ font-size: 3rem; }

    .offers__box--subtitle {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .offers__box--subtitle span { font-size: 3rem; }        

    .offers__box--descrip { font-size: 2rem; }

    .offers__box--btn a { font-size: 2rem; }     
    
    /* FOOTER */
    .foot__copy img { margin: 1rem; }    

    /* ECO-FRIENDLY */
    .ecofriendly__img img { 
        max-height: 40vh;
        max-height: calc(var(--vh, 1vh) * 40); 
        width: auto; 
    }

    .ecofriendly__btnrow {
        grid-template-columns: repeat(2,1fr);;
        row-gap: 2rem;
        column-gap: 2rem;
        align-content: center;
    }

    /* OFFERS */
    .offers__btnrow {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    /* ROOMS */       
    .rooms__box--title img { 
        max-height: 40vh;
        max-height: calc(var(--vh, 1vh) * 40); 
    }
}