/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.75rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px; /* used for the sidebar */
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  border: 3px solid red; /* Example: adds a red border */
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  font-weight: 600;
}

/* FLAG styling 
===============*/ 
/*Stripe Styles/TOP-NAV
===============*/
.nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  display: inline-flex;
  justify-content: space-evenly;
  background: transparent;
  height: 100px;
  position: relative;
  z-index: 1;
}

.nav-header {  /*where my logo, and the 2 flags are located. They are children of nav and nav.center*/
  display: inline-flex;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  background-color: #fff;
}
.flags {
  height: 30px;
} 
.casatosca-logo img {
  display: flex;
  height: 40px;
  margin-left: 20px;
}
/*STYLING FOR TOP-NAV HIDDEN*/

.nav-links {  /*those are hidden untill @media larger than 780px*/
  display: none;
  list-style: none;
  display: flex;
}
.nav-links li { /*@media larger than 780px*/
 display: inline-flex;
 align-items: center;
 margin-right: 20px; /* Adjust spacing between items */
}
.nav-links .btn { /*those are hidden untill @media larger than 780px*/
  font-size: 1rem;
  padding: 0.3rem 0.25rem;
  border-radius: var(--radius);
  border-color: transparent;
  color:  blanchedalmond;
  background: rgb(130, 100, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-links .btn:hover {  /*those are hidden untill @media larger than 780px*/
  background: var(--clr-grey-5);
  color: black; /* Highlight color on hover */
  cursor: pointer;
}

/* VISIT US button.  */
.btn .toggle-btn {
  padding: 0 10px 0 10px;
  background-color: black; /*this does not seem to work*/
}
.signin-btn {
  display: inline-block;
}

/*STYLING FOR HERO */
.hero::before {
  content: '';
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
background: url(/images/gold-hue.png);
background-color: rgba(255, 0, 0, 0.2); /* Red background for testing */
  
background-size: cover;
  z-index: -1;
}
.hero {
  position: relative;
  /*min-height: 60vh;*/
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
}
.hero-center {
  width: 90vw;
  margin-top: 0rem;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.hero-info h1 {
  text-transform: none;
  margin-top: 0rem;
  max-width: 70vw;
  margin-bottom: 2rem;
}
.hero-info p {
  max-width: 60vw;
  line-height: 1.8;
  color: var(--clr-grey-1); 
  font-size: 1rem;
}
.hero-images {
  display: none;
}
.nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
/* Other styles... */
    
.toggle-btn {
  display: none;
}
.signin-btn {
  display: inline-block;
}
.link-btn {
  height: 100%;
  background: transparent;
  border-color: transparent;
  font-size: 1.1rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 10rem;
}

/*styling for the GOOGLE MAPS */
iframe {
width: 768px;
height: auto;
border: none;
}

/* Google maps for smaller screens*/
/*@media screen and (min-width: 1200px) {
iframe::before {
  width: 100px;}*/

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -999;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);  /* fixed width is 620px*/
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
}
.sidebar-sublinks i {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
/* ROOMS */

.rooms {
  background-color: white ;
}

  .rooms__contentrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }

    .rooms__box {
      padding: 3%;
      background-color: #F4F4F4;
      border-radius: .5rem;
      -webkit-box-shadow: .4rem .4rem .2rem #efefef;
              box-shadow: .4rem .4rem .2rem #efefef; /*x-offset y-offset blur*/          
    }
    
      .rooms__box--title {
        display: grid;
        grid-template-rows: 3fr auto;
        border-bottom: .1rem solid #76981B;
        row-gap: 1.5rem;
      }

      .rooms__box--title img {
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
      }
      
      .rooms__box--title h3 {
        padding-bottom: 1rem;
        justify-self: left;
      }

      .rooms__box--feature {
        margin-top: .8rem;
        font-size: 1.6rem;
        text-align: left;
        line-height: 2rem;
      }  
      

/*  FOR SMALL SCREENS - I think this nav css came from another website it also had a hero section */ 
/*I made adjustments to it jan 14 2024*/
@media only screen and (max-width: 469px) {
  .sidebar-wrapper {
    display: none;
  }

  html,
  body { 
      font-size: .65rem; /*100% = 16px or 1rem, I want .8rem or 10px or 62.5% for responsive small design*/ 
      max-width: 479px;
  }
  h2 {
    padding-left: 20px;
  }
  .nav-links {
    display: none;
  }
  .nav-links li {
    display: none;
  }  
    /*Styling for the Flags and logo*/
  .nav {
      margin: 0 0 0 10px;
      display: flex;
      justify-content: space-between;
      height: 50px;
  }
  .nav-header {
      display: flex; /* Changed from grid to flex */
      justify-content: space-between; /* This spreads out the nav items */
      height: 50px;   
      width: auto;
  }
  .casatosca-logo img {
    height: 40px;
  }
  .flags {
      width: auto;
      height: 40px;
      display: flex; /* Changed from grid to flex */
      justify-content: space-between; /* This spreads out the nav items */
  }  
  .btn.toggle-btn {
    display: flex; /* Ensure the button is visible */
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem; /* Adjusting the font size */
    background-color: rgb(248, 186, 13); 
  }
  /*STYLING FOR HERO CLASS */
  .hero {
    width: 100%;
    padding-left: 20px; /* Adds some padding around the content for smaller screens */
    background-size: cover; /* Ensures the background covers the available space */
    background-position: left; /* left  background image */
  }
  .hero-center {
    width: 100%; /* Allows the content to fill the available width */
    }
  .hero-info h1 {
      font-size: 2rem; /* Slightly smaller, considering the reduced screen real estate */
      font-weight: 700;
      margin-bottom: 5px; /* Adjusting the bottom margin for tighter spacing */
  }
  .hero-info p {
      font-size: 1.2rem; /* Smaller paragraph text for compact spaces */
      max-width: none;
      margin-bottom: 1rem; /* Slightly reduced bottom margin */
  }
  .btn {
      font-size: 1rem; /* Keeping the button text readable */
      padding: 1rem 0.75rem; /* Adjusting the padding for a smaller button */
    }
/* OUR LOCATION */

.location__txt h2 {
  font-size: 1.9rem;
  padding-left: 20px;
  }
.location__txt p {
  font-size: 1.2rem;
  padding-left: 20px;  
  }
.location__img {
  display: inline;
  
}
  /* STYLING FOR OUR ROOMS*/

.section-container rooms {
  font-size: 1rem;
  color:hsl(125, 67%, 44%);
  height: 500px;
}

  }
   /* END OF STYLING FOR PHONES media smaller than 480px);
/* hero media query for small screens like tablets */
  /*@@media screen and (min-width: 780px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
}*/
@media screen and (min-width: 470px) and (max-width: 779px) {
  .sidebar-wrapper {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  .nav-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  .casatosca-logo img {
    height: 50px;
  }
  .flags {
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .toggle-btn {
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem; /* Adjusting the font size */
    padding-left: 10px; /* Adding padding */
    background-color: rgb(248, 186, 13); 
  }
/*STYLES FOR THE NAV LINKS TO BE HIDDEN*/
  .nav-links {
    display: none;
  }
  .hero::before {
    margin-top: 0;
    height: 100%;
  }
  /*STYLES FOR HERO CLASS9*/
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: .62rem;
  }
  .hero .btn {
    /* Adjustments specific for medium screens */
    bottom: 5px;
  }

/*STYLES FOR LOCATION*/  
  .location__txt p {
    font-size: 1rem;
  }
}


/* Media query for large screens (e.g., desktops) the var max width is 1179px */

@media screen and (min-width: 780px) and (max-width: var(--max-width)) {
  body,
  html 
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .nav {
    display: flex;
    justify-content: space-between; /* Adjusts children alignment to space between */
    align-items: center; /* Vertically centers children */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    background: transparent;
    position: relative;
    z-index: 1;
    padding: 0 20px; /* Add padding for some spacing at the edges */
  }
  .nav-header {
    display: flex;
    justify-content: space-between; /* This ensures the logo, flags, and nav-links are spread out */
    align-items: center;
    width: 100%; /* Ensures the nav-header takes full width of its parent */
    height: 60px;
    background-color: #fff;
  }
  .casatosca-logo, .flags, .nav-links {
    display: flex;
    align-items: center; /* Align items in the center vertically */
  }
  
  .nav-links {
    justify-content: center; /* Center the links if there's enough space */
    gap: 10px; /* Creates space between individual links */
  }
 .toggle-btn {
    display: none;
  }
 .nav-center {
  display: grid; /* This should be grid - Changed from grid to flex */
  justify-content: space-between; /* This spreads out the nav items */
  align-items: center;
  }  
  .nav-links li {
    display: inline-flex; /* Use inline-flex to keep li items inline but also enable flexbox properties */
    align-items: center; /* Vertically center the content of each li */
    margin-right: 20px; /* Add some space between each list item, adjust as needed */
  
  }
    /*Styling for hero which is the introduction*/
  .hero .btn {
    /* Adjustments specific for large screens */
    bottom: 2ch;
    /* Add your specific styles for the "Book now" button here */
    /* For example: */
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Center the button */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10; /* Ensure it's above the background */
  }
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero {
      margin-top: 10px;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 3.5rem;
  }
  .hero-info p {
    line-height: 1.3;
    font-size: 2.25rem;
  }
  .hero-images {
    display: block;
    align-self: end;
  }
  
  /* links */
  .submenu {
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
    padding: 2rem;
    border-radius: var(--radius);
  }
  .submenu::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--clr-white);
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .submenu.show {
    display: block;
  }

  .submenu-center {
    display: grid;
    gap: 0.25rem 2rem;
  }
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .submenu h4 {
    margin-bottom: 1.5rem;
  }
  .submenu-center a {
    width: 10rem;
    display: block;
    color: var(--clr-grey-1);
    text-transform: capitalize;
  }
  .submenu-center i {
    color: var(--clr-grey-5);
    margin-right: 1rem;
  }

  /* Styles for the Sections*/
  .location__img iframe {
    width: auto;
    height: 100%;
    /* additional styles if needed */
  }
  .location {
    padding: 0 0 20px 20px;
    color: black;
  }

  hlocation {
    color: black;
  }
}
@media screen and (min-width: 1400px) {
    .hero-center {
      padding-bottom: 20vh;
    }
    .nav {
      display: flex;
      justify-content: space-between; /* Adjusts children alignment to space between */
      align-items: center; /* Vertically centers children */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: 'Arial', sans-serif;
      background: transparent;
      position: relative;
      z-index: 1;
      padding: 0 20px; /* Add padding for some spacing at the edges */
    }
    .nav-header {
      display: flex;
      justify-content: space-between; /* This ensures the logo, flags, and nav-links are spread out */
      align-items: center;
      width: 100%; /* Ensures the nav-header takes full width of its parent */
      height: 60px;
      background-color: #fff;
    }
    .casatosca-logo, .flags, .nav-links {
      display: flex;
      align-items: center; /* Align items in the center vertically */
    }
   
  }