# Mac system files
.DS_Store

# Node
node_modules/
npm-debug.log

# Environment files
.env

# Logs
logs/
*.log

# Private / sensitive
form-handlers/private/
form-handlers/uploads/
private/
notes/
cgi-bin/

# Documents
*.pdf
*.docx

# Media (optional)
*.mov
*.HEIC

# Design / assets not needed
*.psd
assets/fontawesome/
images/brochure/