<!-- FOOTER TEMPLATE FOR WEWE-->
<footer>
  <div class="footer-col">
    <h4>Contacto</h4>
    <ul>
      <li><i class="fas fa-envelope"></i><a href="mailto:info@casatoscajavea.com">info@casatoscajavea.com</a></li>
      <li><i class="fas fa-phone"></i><a href="tel:+34698581425">Yeimy +34 698 581 425 </a></li>
      <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/34698581425" target="_blank" rel="noopener noreferrer">WhatsApp Yeimy</a></li>
      <li><i class="fab fa-whatsapp"></i><a a href="https://wa.me/34676749695" target="_blank" rel="noopener noreferrer">WhatsApp Suzanne</a></li>    
      <li><i class="fab fa-facebook"></i><a href="https://www.facebook.com/suzanne1705" target="_blank" rel="noopener noreferrer">Facebook</a></li>
    </ul>
      </div>
  <div class="footer-col">
    <h4>Enlaces útiles</h4>
    <ul>
      <li><a href="/pages/mapa.html">Como Llegar</a></li>
      <li><a href="/pages/forms/consulta.html">Consultar</a></li>
      <li><a href="/pages/forms/registro.html">Hoja Registro</a></li>
    </ul>
  </div>
</footer>

<!-- Floating WhatsApp -->
<a class="whatsapp-float" href="https://wa.me/34698581425" target="_blank" aria-label="WhatsApp". rel="noopener noreferrer">Yeimy
  <i class="fab fa-whatsapp"></i>
</a>
<div class="footer-bottom">
  <p>&copy; 2025 Casa Tosca Jávea. Todos los derechos reservados.</p>
</div>
<!-- END FOOTER TEMPLATE FOR WEWE-->