<!-- NAVIGATION MENUY _ SPANISH -->
<div class="header">
  <a href="/index.html" >
    <img src="/assets/logo.jpg" 
    class="casatosca-logo" alt="Casa Tosca Logo">
  </a>

  <!-- Hamburger on right -->
  <button type="button" class="hamburger" id="menu-toggle" aria-label="Toggle menu">
  <i class="fas fa-bars"></i>
  </button>

  <!-- Navigation menu -->
  <ul class="nav-menu" id="nav-menu">
    <li><a href="/pages/galeria-fotos.html"><i class="fas fa-camera"></i> Fotos</a></li>
    <li><a href="/pages/apt/no1.html"> <i class="fas fa-bed"></i> No1-5</a></li>
    <li><a href="/pages/mapa.html"><i class="fas fa-globe"></i> Mapa</a></li>
    <li><a href="/pages/resenas.html"><i class="fas fa-star"></i> Reseñas</a></li>
    <li><a href="/pages/nosotros.html"><i class="fas fa-info-circle"></i> Nosotros</a></li>
    <li>
      <a href="/pages/actividades.html" aria-label="Actividades">
        <i class="fas fa-swimmer"></i>
        <i class="fas fa-biking"></i>
        <i class="fas fa-hiking"></i>
        <i class="fas fa-sailboat"></i>
        Activ.
      </a>
    </li>

    <!-- Language switcher (inside the ul already) -->
    <li>
      <a href="#" id="lang-switch" title="View in English">
        <img id="lang-flag" src="/assets/english-flag.png" alt="English" class="flag" />
      </a>
    </li>
  </ul>

</div>