<nav class="apt-nav">
  <ul>
    <li><a href="/en/pages/apt/no1.html" class="apt-link blue">No.1 <span class="visually-hidden">Room No.1 - The Vault</span></a></li>
    <li><a href="/en/pages/apt/no2.html" class="apt-link yellow">No.2 <span class="visually-hidden">Apartment No.2 - Juliet</span></a></li>
    <li><a href="/en/pages/apt/no3.html" class="apt-link red">No.3 <span class="visually-hidden">Apartment No.3 - El Estudio</span></a></li>
    <li><a href="/en/pages/apt/no4.html" class="apt-link orange">No.4 <span class="visually-hidden">Apartment No.4 - El Ático</span></a></li>
    <li><a href="/en/pages/apt/no5.html" class="apt-link green">No.5 <span class="visually-hidden">Apartment No.5 - El Refugio</span></a></li>
  </ul>
</nav>