<!-- ENGLISH FOOTER TEMPLATE FOR WEWE-->
<footer>
  <div class="footer-col">
    <h4>Contact Us</h4>
   <ul>
      <li><i class="fas fa-envelope"></i><a href="mailto:info@casatoscajavea.com">info@casatoscajavea.com</a></li>
      <li><i class="fas fa-phone"></i><a href="tel:+34698581425">Yeimy +34 698 581 425 </a></li>
      <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/34698581425" target="_blank" rel="noopener noreferrer">WhatsApp Yeimy</a></li>
      <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/34676749695" target="_blank" rel="noopener noreferrer">WhatsApp Suzanne</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>Follow Us</h4>
    <ul>
      <li>
        <i class="fab fa-instagram"></i>
        <a href="https://www.instagram.com/suzannechartier102/" target="_blank" rel="noopener noreferrer">Instagram</a>
      </li>
      <li>
        <i class="fab fa-facebook"></i>
        <a href="https://www.facebook.com/suzanne1705" target="_blank" rel="noopener noreferrer">Facebook</a>
      </li>
      <li>
        <a href="https://www.airbnb.com/rooms/20093193" target="_blank" rel="noopener noreferrer">
          Airbnb
        </a>
      </li>
      <li>
        <i class="fas fa-bed"></i>
        <a href="#">Booking</a>
      </li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>Useful links</h4>
    <ul>
      <li><i class="fas fa-globe"></i> <a href="/en/pages/maps.html">Maps</a></li>
      <li><i class="fas fa-question-circle"></i> <a href="/en/pages/forms/enquiry.html">Enquiry form</a></li>
      <li><i class="fas fa-file-signature"></i><a href="/en/pages/forms/registration.html">Registration Form</a></li>
      
    </ul>
  </div>
</footer>

<!-- Floating WhatsApp -->
<li>
  <i class="fab fa-whatsapp"></i>
  <a href="https://wa.me/34676749695" target="_blank" rel="noopener noreferrer">
    WhatsApp Suzanne
  </a>
</li>
<div class="footer-bottom">
  <p>&copy; 2025 Casa Tosca Jávea. Todos los derechos reservados.</p>
</div>
<!-- END FOOTER TEMPLATE FOR WEWE-->